#main-layout-container:hover{
  overflow-y: auto;
}
#main-layout-container{ 
  gap: 5px; 
  overflow-y: hidden;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: 34% 64% 0%;
  grid-template-rows: 100%;
}
.ant-picker-panel{
  border-radius: 15px !important;
}
div.ant-picker-calendar.ant-picker-calendar-full.css-dev-only-do-not-override-nmjbtd{
  border-radius: 30px;
  overflow-y: hidden;
}
#numberOfDayToPreview {
  display: flex;
  flex-grow: 1;
  align-items: center; 
  justify-content: center; 
}


div.ant-picker-calendar.ant-picker-calendar-full.css-dev-only-do-not-override-nmjbtd:hover{
  overflow-y: auto;
}
#PreviewLeftContainer{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}
#CalendarView{
  
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

ul.events{
  margin: 0;
  padding: 0;
  font-size: 1px;
}
.ant-picker-calendar-date-content{
  overflow-y: hidden !important;
}
.ant-picker-calendar-date-content:hover{
  overflow-y: auto !important;
}
.ant-badge-status-text{
  margin: 0;
  padding: 0;
  font-size: 1px;  
}
.ant-picker-calendar-full{
  padding-left: 10px;
  padding-right: 10px;
}